<h1>New Raffle</h1>

<%= form_for (@raffle) do |f| %>
<%= f.label :name_of_raffle %>
<%= f.text_field :name_of_raffle %>
<%= f.label :ticket_price %>
<%= f.number_field :ticket_price %> 
<%= f.submit %> 
<% end %>  