<%=link_to "Home", raffle_path%>
<p>Number of Tickets: <%=@raffle.ticket_price%></p>
<P>Name of Raffle: <%=@raffle.name_of_raffle%></p>

<%=link_to "Edit", edit_raffle_path(@raffle) %>
<%=link_to "Delete", raffle_path(@raffle), method: :delete %>