<h1> Donate Now </h1>

<br>

<%= form_for (@donation) do |f| %>
<%= f.hidden_field :raffle_id, value: params[:raffle_id]%>
<%= f.label :number_of_tickets %>
<%= f.number_field :number_of_tickets %> 
<%= f.label :donation_amount %>
<%= f.number_field :donation_amount %> 
<%= f.label :donation_frequency %>
<%= f.number_field :donation_frequency %> 
<%= f.submit %> 

<% end %>  